{% extends "base.html" %}

{% load wagtailcore_tags navigation %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
        <h1>{{ page.title }}</h1>
        {% if page.intro %}
            <p class="lead">{{ page.intro|richtext }}</p>
        {% endif %}
        {% if page.body %}
            {{ page.body|richtext }}
        {% endif %}
        <h4>You can find me also on:</h4>
        <p class="social social--big"><a href="#" title="" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" title="" class="twitter"><i class="fa fa-twitter"></i></a><a href="#" title="" class="gplus"><i class="fa fa-google-plus"></i></a><a href="#" title="" class="instagram"><i class="fa fa-instagram"></i></a><a href="#" title="" class="email"><i class="fa fa-envelope"></i></a></p>
        <hr align="center" width="100%" size="2" color="#989898" />
        {% if page.appeal_to_the_visitor %}
            {{ page.appeal_to_the_visitor|richtext }}
        {% endif %}
        <form id="contact-form" method="POST" action="{% pageurl page %}" role="form" class="contact-form form">
          {% csrf_token %}
          {% if form.subject.errors %}
              <ol role="alertdialog">
              {% for error in form.subject.errors %}
                  <li role="alert"><strong>{{ error|escape }}</strong></li>
              {% endfor %}
              </ol>
          {% endif %}
          <div class="controls">
            {% for field in form %}
              <div class="form-group" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                {{ field.label_tag }}{% if field.field.required %}<span class="required">*</span>{% endif %}
                {{ field|addcss:"form-control" }}
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
              </div>
            {% endfor %}
            <div>
              <input type="submit" class="btn btn-ghost">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
